/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

/* Asterisk wildcard to overide default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #f7f7ff;
    font-family: 'Ninuto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Rock Salt', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #f7f7ff;
    font-size: 100%;
}

/* Header */
header {
    background-color: #023047;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    /* make header fill full screen again*/
    width: 100%;
    box-shadow: 0 2px 2px #f7f7ff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    /* removes underline from logo*/
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    /* underlines the active page from nav menu*/
    border-bottom: 1px dotted #f7f7ff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #023047;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #f7f7ff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #219EBC;
    /*background-color: #8ECAE6;*/
    /* Make main element take up surplus space and push footer down*/
    flex: 1 0 auto;
    margin-top: 41px;
}

.rainbow-text {
    /* Rainbow text */
    background-image: linear-gradient(to right, violet, yellow, orange, red);
    /* removed blue, green and indigo */
    /* Makes text transparent, to reveal background gradient */
    -webkit-background-clip: text;
    color: transparent;
    /* ensures the color only covers the width of the text */
    display: inline-block;
    text-transform: uppercase;
}

/* Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/island-view.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*last value sets opacity to semi-transparent*/
    background-color: rgba(33, 158, 188, 0.7);
    font-size: 120%;
    position: absolute;
    top: 20px;
    width: 80%;
    text-align: center;
    padding-left: 10px;
}

#hr1 {
    /* visual separation from hero to the rest of the body*/
    border: none;
    background-color: #565554;
    padding: 3px;
    margin: 10px 20px;
    /* Add margin for spacing */
    border-style: groove;
}

/* Regions Section */
#regions {
    background-color: rgba(33, 158, 188, 0.6);
    width: 90%;
    margin: 0 auto 10px;
}

#region-bg {
    background: url("../images/beach-drone.webp") center center/cover no-repeat fixed;
}
#regions h2 {
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    text-transform: capitalize;
    color: #023047;
    padding-bottom: 10px;
}

#regions h3 {
    font-size: 90%;
    /*color: #023047;*/
    padding-bottom: 5px;
}

hr {
    border-top: 1px solid #565554;
    margin: 5px 5px 10px 5px;
}

#luzon,
#visayas,
#mindanao {
    line-height: 20px;
    margin-bottom: 20px;
}

#regions p {
    color: #023047;
    padding: 0 20px;
}

#smooth-edge-bg {
    background: url("../images/pi-main-regions.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* smooth the edges of the square image*/
    border-radius: 10%;
    max-width: 300px;
    max-height: 300px;
}

#regions-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Activity section */
#activity {
    border-top: #f7f7ff 1px solid;
}
#act {
    background: url("../images/sunset.webp") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#act>div {
    color: #f7f7ff;
    background-color: rgba(255, 183, 3, 0.3);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: #023047 solid 2px;
}

/* About Us */
#team {
    background-color: rgba(33, 158, 188, 0.4);
    width: 90%;
    margin: 0 auto 10px;
    padding-bottom: 10px;
}

#about-bg {
    background: url("../images/beach-view.webp") center center/cover no-repeat fixed;
}

#team h2 {
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    text-transform: capitalize;
    color: #023047;
    padding-bottom: 10px;
}

#team h3 {
    font-size: 90%;
    color: #023047;
    padding-bottom: 5px;
}

#maria,
#john,
#sarah {
    line-height: 20px;
    margin-bottom: 20px;
}

#team p {
    color: #023047;
    padding: 0 20px 25px 20px;
}

#maria-image {
    background: url("../images/maria.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* smooth the edges of the square image*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#john-image {
    background: url("../images/john.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* smooth the edges of the square image*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#sarah-image {
    background: url("../images/sarah.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* smooth the edges of the square image*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.flex-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact Us Page*/
#contact-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-bg {
    background: url(../images/tree.webp)no-repeat center center/cover fixed;

}

#contact-form-bg {
    color: #f7f7ff;
    background-color: rgba(133, 126, 108, 0.7);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: #023047 solid 2px;
}

fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    font-size: large;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}
input {
    margin: 20px 5px 10px 5px;
    padding: 10px;
    background-color: #f7f7ff;
    color: #565554;
    border: none;
    border-radius: 7px;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    font-size: xx-large;
}

.social {
    margin-right: 20px !important;
}

.back-top {
    margin-right: 0;
    margin-left: auto;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        width: 100px;
        text-align: center;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header on tablet screens*/
        margin-top: 95px;
    }

    /* Hero */
    #cover-text {
        width: 320px;
        right: 50px;
    }

    /* Regions section*/
    #islands {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #regions p {
        padding-bottom: 30px;
    }

    #luzon, #visayas, #mindanao {
        width: 75%;
    }

    #visayas {
        text-align: end;
        align-self: flex-end;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* hover effect */
    #menu a:hover {
        border-bottom: 1px dashed #f7f7ff;
    }
    
}