/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

/* Asterisk wildcard to overide default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #023047;
    font-family: 'Ninuto', sans-serif;
}

/* Header */
header {
    background-color: #f7f7ff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    /* make header fill full screen again*/
    width: 100%;
    box-shadow: 0 2px 2px #023047;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    /* removes underline from logo*/
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Rock Salt', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #023047;
    font-size: 100%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    /* underlines the active page from nav menu*/
    border-bottom: 1px dotted #023047;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f7f7ff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #023047;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: #FFB703;
    /* Make main element take up surplus space and push footer down*/
    flex: 1 0 auto;
    margin-top: 41px;
}

/* Footer */
footer {
    background-color: #FB8500;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        width: 100px;   
        text-align: center;     
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header on tablet screens*/
        margin-top: 95px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px dashed #023047;
    }
}